*{
    margin: 0;
    padding: 0;
    font-size:20px;
}

.navbar{
    width: 100%;
    height: auto;
    font-size: 20px;
    box-shadow: 0px 0px 5px 0px black;
    color:  rgb(4, 128, 89);
}

.navbar-nav{
    margin-left: 100px;
    color:  rgb(4, 128, 89);
    justify-content: center;
}


.navbar-nav a:hover{
    background-color: rgb(4, 128, 89);
    border-radius: 6px;
    color:white;
}

.btn{
    background-color:  rgb(4, 128, 89);
}

.btn:hover{
    background-color: transparent;
    color:  rgb(4, 128, 89);
}

.opt:hover{
    background-color: rgb(4, 128, 89) ;

}

.qq a{
    padding: 0;
    border-radius: 20px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }

  h1{
    color:  rgb(4, 128, 89);
}

.img2{
    max-width: 500px;
}


footer{
    background-color:  rgb(4, 128, 89);
    color: white;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #770549;
    color: white;
  }